table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px 0px;
  border-collapse: collapse;
  width: 100%;
}


table, th, td {
  border: 1px solid #dee2e6;
}

th {
  border-bottom-width: 2px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.root {
  margin: auto;
  font-family: sans-serif;
  flex-grow: 1;
}

.content {
  max-width: 800px;
  margin: auto;
  background-color: #f5f5dc;
  margin-top: 25px;
  padding: 1px 30px;
  border-radius: 10px;
  text-align: center;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

.site-title {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin-right: 50px;
}
