.root {
  margin: auto;
  font-family: sans-serif;
  flex-grow: 1;
}

.container {
  max-width: 500px;
  margin: auto;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

.site-title {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin-right: 50px;
}
