.tagList {
  margin: 10px 0px;
  text-align: left;
}

.tagBlock {
  display: inline;
  font-size: small;
  margin: 5px 2px;
  padding: 0px 5px;
  background-color: #2774c8;
  font-style: oblique;
  font-family: system-ui;
  border-radius: 10px;
}

.tagLink {
  text-decoration: none;
  color: white;
}
